<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>SUCheckAtStartup</key>
    <string>YES</string>
    <key>SUScheduledCheckInterval</key>
    <string>86400</string>
    <key>SUPublicDSAKeyFile</key>
    <string>dsa_pub.pem</string>
    <key>SUFeedURL</key>
    <string>http://www.musecontrol.com/sparkle/appcast.xml</string>
    <key>SUShowReleaseNotes</key>
    <string>YES</string>
    <key>CFBundleName</key>
    <string>Muse Controller</string>
    <key>CFBundleShortVersionString</key>
    <string>2.1</string>
    <key>CFBundleGetInfoString</key>
    <string>2.1</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>2.1</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.sleazyweasel.MuseController</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>com.sleazyweasel.applescriptifier.Main</string>
      <key>JVMVersion</key>
      <string>1.3+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/gson-1.6.jar</string>
        <string>$JAVAROOT/jarbundler-2.2.0.jar</string>
        <string>$JAVAROOT/jetty-ajp-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-annotations-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-client-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-continuation-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-deploy-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-http-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-io-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-jmx-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-jndi-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-plus-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-policy-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-rewrite-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-security-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-server-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-servlet-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-servlets-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-util-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-webapp-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-websocket-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/jetty-xml-7.2.2.v20101205.jar</string>
        <string>$JAVAROOT/native/libsparkle_init.dylib</string>
        <string>$JAVAROOT/servlet-api-2.5.jar</string>
        <string>$JAVAROOT/applescriptifier.jar</string>
      </array>
      <key>Properties</key>
      <dict>
        <key>com.apple.mrj.application.apple.menu.about.name</key>
        <string>Muse Controller</string>
        <key>apple.laf.useScreenMenuBar</key>
        <string>true</string>
      </dict>
    </dict>
  </dict>
</plist>
